<!DOCTYPE html>
<html>
<head>
	<title>Test con vue js</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="app" v-bind:style="{ background: '#' + color }">
		<img
			v-on:mouseover="toggleShowPrices"
			v-on:mouseout="toggleShowPrices"
			v-bind:src="img"
			v-bind:alt="name"
			width="100">
		<h1 v-bind:class="changePercent > 0 ? 'green' : 'red'"> {{title}}
			<span v-if="changePercent > 0">👍</span>
			<span v-else>👎</span>
			<span class="button" v-on:click="toggleShowPrices">{{showPrices ? '🙈' : '🐵'}}</span>
		</h1>



		<ul v-show="showPrices">
			<li 
				v-bind:class="{ orange: p.value == price, red: p.value < price, green: p.value > price }"
				v-for="(p, index) in pricesWithDays" 
				v-bind:key="p.day">
				{{ index }} | <b> {{ p.day }} </b> - {{ p.value }}
			</li>
		</ul>

	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>