<!DOCTYPE html>
<html>
<head>
	<title>Test con vue js</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div id="app">
		<img v-bind:src="img" v-bind:alt="name" width="100">
		<h1> {{name}}
			<span v-if="changePercent > 0">👍</span>
			<span v-else>👎</span>
		</h1>

		<ul>
			<li v-for="(price, index) in prices" v-bind:key="price">
				{{ index }} - {{ price }}
			</li>
		</ul>

		<ul>
			<li v-for="(price, index) in pricesWithDays" v-bind:key="price.day">
				{{ index }} | <b> {{ price.day }} </b> - {{ price.value }}
			</li>
		</ul>

	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>